@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.eot"), "eot";
  src: url("../fonts/vazir.ttf"), "ttf";
  src: url("../fonts/vazir.woff"), "woff";
  src: url("../fonts/vazir.woff2"), "woff2";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
    padding: 1rem ;
}

body {
  font-family: "vazir";
  direction: rtl;
}

/*  */

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: rgb(0, 36, 33);
  background: linear-gradient(
    90deg,
    rgba(0, 36, 33, 1) 0%,
    rgba(9, 104, 121, 1) 0%,
    rgba(8, 95, 130, 1) 16%,
    rgba(51, 217, 233, 1) 67%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-color: #ccc;
}

.taskmanager-container{
    background-color: #fff;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 4px 4px 30px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    position: relative;
}

.taskmanager {
  flex-basis: 80% ;
  border-bottom: 1px solid #ccc;
}

.taskmanager .header {
    padding: 1.5rem 0;
  text-align: right;
}

.taskmanager .body .form .inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.taskmanager .body .form .inputs1{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
}

.taskmanager .body .form .inputs .textarea{
    flex-basis: 50%;

}



.taskmanager .body .form .inputs .inputs1 input,
.taskmanager .body .form .inputs .textarea textarea{
    font-family: 'vazir';
    margin: 0.5rem 0;
    resize: none;
    border: 1px solid rgb(123, 123, 123);
    padding: 0.3rem 0.2rem ;
    width: 100%;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.taskmanager .body .form .inputs input:focus,
.taskmanager .body .form .inputs textarea:focus{
    outline: 1px solid rgb(27, 125, 186);
}

.taskmanager .body .form .buttons{
    display: flex;
    justify-content: flex-end;
}

 .taskmanager .body .form .buttons button{
    margin:1rem 0;
    margin-right: 1.1rem;
    width: 100px;
    padding: 0.5rem 0;
    font-family: 'vazir';
    border: none;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.taskmanager .body .form .buttons button:hover{
    color: 000;
    background-color: #ccc;
}

.taskSubmit{
    color: #fff;
    background-color:#1C6758 ;
}
.taskClear{
    color: #fff;
    background-color: #CF0A0A;
}

.footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* justify-content: space-around; */
    overflow: auto;
    white-space:nowrap;
    scroll-behavior: smooth;
    /* width: 400px; */
    padding: 2rem 3rem;
}

.footer .task{
    flex-basis: 70%;
    border: 1px solid #ccc;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: auto;
    
}

.footer .task:hover{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
    
}

.task h3{
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 0.5rem;
}

.task h4{
  padding: 0.5rem 0;

}

.task p{
  font-size: .9rem;
  padding: 0.5rem 0;
  color: ;
}

.dltBtn{
  background-color: #CF0A0A;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  cursor: pointer;
  border: none;
  font-family: 'vazir';
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  width: 100px;
}
.dltBtn:hover{
  background-color: rgb(146, 146, 146);
  color: #000;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.overlay-modal{
  padding: .5rem ;
  background-color: #fff;
  width:300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.overlay-modal .modal-btns{
  text-align: center;
}

.overlay-modal .modal-btns button{
  width: 60px;
  padding: .1rem 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  font-family: 'vazir';
  border: none;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}



.overlay-modal .modal-btns #modal-btn-yes{
  color: #fff;
  background-color: #1C6758;
}

.overlay-modal .modal-btns #modal-btn-no{
  color: #fff;
  background-color: #CF0A0A;
}

button{
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;

}

button:hover{
  color: #000 !important;
  background-color: rgb(232, 229, 229) !important;
}



@keyframes width {
  0% {
    width: 100%;
  }
  25%{
    width: 75%;
  }
  50%{
    width: 50%;
  }
  75%{
    width: 25%;
  }
  100%{
    width: 0;
  }
}


#modal-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1%;
  content: "";
  background-color: #CF0A0A;
  z-index: 10;
}

.modalAnimation{
  animation: width 5s linear 0s  alternate;
  -webkit-animation: width 5s linear 0s  alternate;
}