@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.eot"), "eot";
  src: url("../fonts/vazir.ttf"), "ttf";
  src: url("../fonts/vazir.woff"), "woff";
  src: url("../fonts/vazir.woff2"), "woff2";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
    padding: 1rem ;
}

button{
  font-family: 'vazir';
  border-radius: .2rem;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
  color: #fff;
  cursor: pointer;
  border: none;
}

button:hover{
  color: #000 !important;
  background-color: rgb(232, 229, 229) !important;
}

/*  */

body {
  font-family: "vazir" ;
  direction: rtl;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

/* taskmanager body styles */
.taskmanager-container{
    background-color: #fff;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 4px 4px 30px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    position: relative;
}

.taskmanager {
  flex-basis: 80% ;
  border-bottom: 1px solid #ccc;
}

.taskmanager .header {
    padding: 1.5rem 0;
  text-align: right;
}

/* task manager form and inputs styles */

.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

 .inputs1{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
}

 .textarea{
    flex-basis: 50%;

}

 .inputs .inputs1 input,
 .inputs .textarea textarea{
    font-family: 'vazir';
    margin: 0.5rem 0;
    resize: none;
    border: 1px solid rgb(123, 123, 123);
    padding: 0.3rem 0.2rem ;
    width: 100%;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.inputs input:focus,
.inputs textarea:focus{
    outline: 1px solid rgb(27, 125, 186);
}

 .addForm .buttons,
 .editForm .buttons
 {
    display: flex;
    justify-content: flex-end;
}

  .addForm .buttons button,
  .editForm .buttons button{
    margin:1rem 0;
    margin-right: 1.1rem;
    width: 100px;
    padding: 0.5rem 0;
    font-size: 1rem;
}


.taskSubmit{
    background-color:#1C6758 ;
}

.taskClear{
    background-color: #CF0A0A;
}

/* tasks section styles */
.footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space:nowrap;
    scroll-behavior: smooth;
    padding: 2rem .5rem;
}

.footer .task{
    flex-basis: 100% !important;
    border: 1px solid #ccc;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
    vertical-align: top;
}

.footer .task:hover{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
    
}

.task h3{
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
}

.task h4{
  padding: 0.5rem 0;

}

.task p{
  font-size: .9rem;
  padding: 0.5rem 0;
  width: 100%;
  word-wrap: break-all;
  white-space: pre-wrap;
  text-align: justify;
  transition: all .3s ease-in-out ;
  -webkit-transition: all .3s ease-in-out ;
  -moz-transition: all .5s ease-in-out ;
  -ms-transition: all .3s ease-in-out ;
  -o-transition: all .3s ease-in-out ;
  transform-origin: top;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  opacity: 0;
}

.tra{
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  opacity: 1 !important;
}

.task p:hover{
  display: block;
}

.taskBtns{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}

.taskBtn{
  color: #fff;
  padding: 0.5rem 1rem;
  width: 100px;
  margin-right: 0.5rem;
}

.dltBtn{
  background-color: #CF0A0A;
}

.edtBtn{
  background-color: #1C6758;
}


/* delete confirm sections with a modal */

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.overlay-modal{
  padding: .5rem ;
  background-color: #fff;
  width:300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}

#modal-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4%;
  content: "";
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  rgba(56,51,233,1) 57%, rgba(237,42,223,1) 76%, rgba(0,229,255,1) 100%);
  z-index: 10;
}

.overlay-modal .modal-btns{
  text-align: center;
}

.overlay-modal .modal-btns button{
  width: 60px;
  padding: .1rem 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  font-family: 'vazir';
  border: none;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}



.overlay-modal .modal-btns #modal-btn-yes{
  color: #fff;
  background-color: #1C6758;
}

.overlay-modal .modal-btns #modal-btn-no{
  color: #fff;
  background-color: #CF0A0A;
}


@keyframes width {
  0% {
    width: 100%;
  }
  25%{
    width: 75%;
  }
  50%{
    width: 50%;
  }
  75%{
    width: 25%;
  }
  100%{
    width: 0;
  }
}

.modalAnimation{
  animation: width 5.1s linear 0s  alternate;
  -webkit-animation: width 5.1s linear 0s  alternate;
}

/* edit form styles */
.editForm{
  width: 90%;
}
.editForm .editFormInputs{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


/*dark-theme */

#editOverlay{
  scale: 0;

}